# Replace env values where applicable

# Name of the docker compose stack appears
# Containers will also append on this name
# (e.g. mysql container: <COMPOSE_STACK_NAME>_mysql)
COMPOSE_STACK_NAME=

# Docker images
# (Please make sure image names are valid images in Docker Hub)
# If not sure, please keep these default values
# Go to https://hub.docker.com/search to search for images
WORDPRESS_IMAGE=wordpress:6.9.4-php8.3
MYSQL_IMAGE=mysql:8.3
PMA_IMAGE=phpmyadmin:5.2.3

# The port where WordPress site is available on local machine
# Use http://localhost:<WORDPRESS_HOST_PORT> to access WordPress site
# NOTE: Please make sure the port is not in use by another app
WORDPRESS_HOST_PORT=8080

# MySQL database credentials where WordPress is setup
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_VOLUME_NAME=

# PhpMyAdmin setup
# The port where PhpMyAdmin site is available on local machine
# Use http://localhost:<PMA_HOST_PORT> to access PhpMyAdmin
# NOTE: Please make sure the port is not in use by another app
PMA_HOST_PORT=8081
